<!--================ Start Home Banner Area =================-->
<section class="home_banner_area">
  <div class="banner_inner">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="banner_content">
            <h2>
              We Map Course Outomes <br>
              To Program Outcomes
            </h2>
            <p>
              A User Friendly Tool To Map Course Outcomes And Program Outcomes To Minimize Workload Of Faculties
            </p>
            <div class="search_course_wrap">
              <form action="" class="form_box d-flex justify-content-between w-100">
                <input type="text" placeholder="Search Courses" class="form-control" name="username" onfocus="this.placeholder = ''"
                 onblur="this.placeholder = 'Search Courses'">
                <button type="submit" class="btn search_course_btn">Search</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--================ End Home Banner Area =================-->